<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Login</title>
  <link rel="stylesheet" href="/style.css">

</head>
<body>

    <div class="auth-wrapper">
  <div class="card auth-card">
    <h3 style="text-align: center;">Admin Login</h3>

  <form action="/admin/login" method="POST">
    <label>Username:</label>
    <input type="text" name="username" required><br><br>

    <label>Password:</label>
    <input type="password" name="password" required><br><br>
    <div style="text-align: center;">
        <button type="submit">Login</button>
    </div>
    
  </form>
  </div>
</div>


  

</body>
</html>
